@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #534ad3;
  --secondary-color: #0e0d1b;
  --text-color: #ecebff;
  --text-secondary-color: #cecce5;
  --btn-color: #f10bb2bf;
  --default-font-family: "Montserrat", sans-serif;
  --bottom-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);

  font-family: var(--default-font-family);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

/* <!-- HERO SECTION_________________________________________________________________________________________ --> */

.hero-section {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: var(--bottom-box-shadow);
  max-width: 100%;
}

.profile-pic {
  width: 400px;
  height: 400px;
  align-items: center;
}

.hero-text {
  margin-top: 6.5em;
  font-weight: 600;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icons_________________________________ */
.icon {
  cursor: pointer;
  height: 2rem;
}

.icon:hover {
  opacity: 0.3;
}

/* BTN _________________________________ */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  color: var(--secondary-color);
  width: 9.625rem;
  height: 2.625rem;
  border-radius: 3.125rem;
  background: var(--text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: rgba(241, 11, 178, 0.75);
  filter: blur(1px);
  color: var(--text-color);
}
/* <!-- ABOUT SECTION_________________________________________________________________________________________ --> */
.text__p1 {
  margin-top: 8rem;
}

.about-main-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4em;
}

.about-pic {
  margin-top: 3em;
  padding: 1em;
  width: 450px;
  height: 450px;
}

.details-container {
  margin: 1.5em;
  padding: 1em;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  text-align: center;
}

.details-container p {
  color: var(--text-secondary-color);
}

.text-container {
  text-align: center;
  padding: 1em;
  margin: 1em auto;
  margin-bottom: 6em;
  color: var(--text-secondary-color);
}

/* <!-- EXPERIENCE SECTION_________________________________________________________________________________________ --> */

.experience-section {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: var(--bottom-box-shadow);
  max-width: 100%;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1em;
  border: 1px solid var(--text-secondary-color);
  margin: 1em;
  padding: 2em;
}

.experience-sub-title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.85rem;
  margin: 1em auto;
  margin-bottom: 1.8em;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

article p {
  color: var(--text-secondary-color);
  text-align: center;
}

/* <!-- PROJECTS SECTION_________________________________________________________________________________________ --> */
.project-section {
  text-align: center;
  padding: 4em 2em;
}

.project-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-project-containers {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.project-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-project-containers {
  display: flex;
}

.proj-details-container {
  margin: 1.5em;
  padding: 1.5rem;
  flex: 1;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  text-align: center;
}

.project-article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--text-secondary-color);
}

.project-btn {
  color: var(--secondary-color);
}

/* <!-- CONTACT SECTION_________________________________________________________________________________________ --> */
.contact-section {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: var(--bottom-box-shadow);
  max-width: 100%;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.contact-info-container a {
  color: var(--text-secondary-color);
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
  margin-bottom: 1.2rem;
}

.contact-linkedin-icon {
  margin-bottom: 1.2rem;
}

/* <!-- FOOTER SECTION_________________________________________________________________________________________ --> */
footer {
  margin: 4em 1em;
}

footer p {
  text-align: center;
  background-color: var(--secondary-color);
}

.footer-nav {
  background-color: var(--secondary-color);
}

footer .nav-links {
  background-color: var(--secondary-color);
}
