@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #534ad3;
  --secondary-color: #0e0d1b;
  --text-color: #ecebff;
  --text-secondary-color: #cecce5;
  --btn-color: #f10bb2bf;
  --default-font-family: "Montserrat", sans-serif;
  --bottom-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);

  font-family: var(--default-font-family);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

/* DESKTOP NAV  _______________________________________________________________________ */
nav,
.nav-links {
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  justify-content: space-around;
  height: 6vh;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  z-index: 1;
}

.desktop-nav-links {
  padding-top: 1rem;
}

.desktop-nav-links li:hover {
  opacity: 0.3;
}

.logo {
  font-size: 1.4rem;
  font-weight: 500;
}

.logo:hover {
  cursor: default;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}

nav li:last-child {
  width: max-content;
  display: flex;
  margin: auto;
  padding: 10px;
}

/* HAMBURGER MENU NAV  _______________________________________________________________________ */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primary-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0.6em;
  z-index: 1;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* <!-- HERO SECTION_________________________________________________________________________________________ --> */

.hero-section {
  background: no-repeat url("/imgs/peter-rovder-X_5kMOSxLzw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px 160px;
  padding-top: 200px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: var(--bottom-box-shadow);
  max-width: 100%;
}

.profile-pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  align-items: center;
}

.hero-section .container {
  border-radius: 56.33px;
  background: linear-gradient(
    132deg,
    rgba(46, 51, 90, 0.2) 10.63%,
    rgba(28, 27, 51, 0.2) 94.76%
  );
  backdrop-filter: blur(30.94386863708496px);
  padding: 3rem;
}

.hero-text {
  font-weight: 600;
  padding: 3em;
  padding-bottom: 0;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icons_________________________________ */
.icon {
  cursor: pointer;
  height: 2rem;
}

.icon:hover {
  opacity: 0.3;
}

/* BTN _________________________________ */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  color: var(--secondary-color);
  width: 9.625rem;
  height: 2.625rem;
  border-radius: 3.125rem;
  background: var(--text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: var(--primary-color);
  filter: blur(1px);
  color: var(--text-color);
}
/* <!-- ABOUT SECTION_________________________________________________________________________________________ --> */

#about {
  padding-top: 2em;
}
.text__p1 {
  margin-top: 8rem;
}

.about-main-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4em;
}

.about-pic {
  margin-top: 8em;
  padding: 1em;
  width: 450px;
  height: 450px;
}

.details-container {
  margin: 1.5em;
  padding: 1em;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  text-align: center;
}

.details-container p {
  color: var(--text-secondary-color);
}

.small-img {
  height: 3rem;
  width: 3rem;
}

.text-container {
  text-align: center;
  padding: 1em;
  margin: 1em auto;
  margin-bottom: 6em;
  color: var(--text-secondary-color);
}

/* <!-- EXPERIENCE SECTION_________________________________________________________________________________________ --> */

.experience-section {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: var(--bottom-box-shadow);
  max-width: 100%;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1em;
  border: 1px solid var(--text-secondary-color);
  margin: 1em;
  padding: 2em;
}

.experience-sub-title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.85rem;
  margin: 1em auto;
  margin-bottom: 1.8em;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

article p {
  color: var(--text-secondary-color);
  text-align: center;
}

/* <!-- PROJECTS SECTION_________________________________________________________________________________________ --> */
.project-section {
  text-align: center;
  padding: 4em 2em;
}

.project-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-project-containers {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.project-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-project-containers {
  display: flex;
}

.proj-details-container {
  margin: 1.5em;
  padding: 1.5rem;
  flex: 1;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  text-align: center;
}

.project-article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.project-img {
  border-radius: 0.6rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--text-secondary-color);
}

.project-btn {
  color: var(--secondary-color);
}

/* <!-- CONTACT SECTION_________________________________________________________________________________________ --> */
.contact-section {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: var(--bottom-box-shadow);
  max-width: 100%;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
}

.line {
  margin: 0 auto;
  max-width: 50%;
  color: #0e0d1b;
  background-color: #0e0d1b;
}

.line hr {
  height: 3px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.contact-info-container a {
  color: var(--text-secondary-color);
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
  margin-bottom: 1.2rem;
}

.contact-linkedin-icon {
  margin-bottom: 1.2rem;
}

/* <!-- FOOTER SECTION_________________________________________________________________________________________ --> */
footer {
  margin: 4em 1em;
}

footer p {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
}

.footer-nav {
  background-color: var(--secondary-color);
}

footer .nav-links {
  background-color: var(--secondary-color);
}
